<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Status</title>
    <link href="/files/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="/files/pikaday.css" rel="stylesheet">
    <link href="/files/style.css" rel="stylesheet"/>
</head>
<body>



<div class="container">
<div class="wrap">
    <h2 id="status-head">Quickblox Status</h2>
    <div class="instance_header row">
    	<div class="col-xs-6">
			<h5 class="instance_name">...</h5>
		</div>
		<div class="col-xs-6">
			<a id="lastchecked">Retrieving status...</a>
			<input type="hidden" id="pikaday"/>
			<div id="timemachine">
				<div id="datepicker"></div>
				<input id="datepicker_val" type="hidden"/>
				<button id="exit_datepicker">Close</button>
				<button id="load_latest">Latest</button>
				<button id="load_new_data">Load</button>
			</div>
		</div>
    </div>

    <!-- USERS -->
    <div class="row" id="users-head">
        <div class="col-xs-12"><h4>Users</h4></div>
    </div>
    <div class="row">
        <div class="col-xs-9 api-subtitle"><span data-open-graph="create_user_session">Authenticate user</span></div>
        <div class="col-xs-3 lights" id="create_user_session"><span class="time"></span></div>
        <div class="graph-wrap" data-module="create_user_session">
			<div class="graph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 api-subtitle"><span data-open-graph="create_user">Create user</span></div>
        <div class="col-xs-3 lights" id="create_user"><span class="time"></span></div>
        <div class="graph-wrap" data-module="create_user">
			<div class="graph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 api-subtitle"><span data-open-graph="list_users">List users</span></div>
        <div class="col-xs-3 lights" id="list_users"><span class="time"></span></div>
        <div class="graph-wrap" data-module="list_users">
			<div class="graph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 api-subtitle"><span data-open-graph="update_user">Update user</span></div>
        <div class="col-xs-3 lights" id="update_user"><span class="time"></span></div>
        <div class="graph-wrap" data-module="update_user">
			<div class="graph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 api-subtitle"><span data-open-graph="delete_user">Delete user</span></div>
        <div class="col-xs-3 lights" id="delete_user"><span class="time"></span></div>
        <div class="graph-wrap" data-module="delete_user">
			<div class="graph"></div>
        </div>
    </div>
    
    <div class="spacer"></div>
	
	<!-- CHAT -->

    <div class="row" id="chat-head">
        <div class="col-xs-12"><h4>Chat</h4></div>
    </div>
    <div class="row">
        <div class="col-xs-9 api-subtitle"><span data-open-graph="create_dialog">Create dialog</span></div>
        <div class="col-xs-3 lights" id="create_dialog"><span class="time"></span></div>
        <div class="graph-wrap" data-module="create_dialog">
			<div class="graph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 api-subtitle"><span data-open-graph="private_chat">Private chat</span></div>
        <div class="col-xs-3 lights" id="private_chat"><span class="time"></span></div>
        <div class="graph-wrap" data-module="private_chat">
			<div class="graph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 api-subtitle"><span data-open-graph="group_chat">Group chat</span></div>
        <div class="col-xs-3 lights" id="group_chat"><span class="time"></span></div>
        <div class="graph-wrap" data-module="group_chat">
			<div class="graph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 api-subtitle"><span data-open-graph="retrieve_dialogs">Retrieve dialogs</span></div>
        <div class="col-xs-3 lights" id="retrieve_dialogs"><span class="time"></span></div>
        <div class="graph-wrap" data-module="retrieve_dialogs">
			<div class="graph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 api-subtitle"><span data-open-graph="remove_dialog_occupant">Update dialog <code class="light">(pull)</code></span></div>
        <div class="col-xs-3 lights" id="remove_dialog_occupant"><span class="time"></span></div>
        <div class="graph-wrap" data-module="remove_dialog_occupant">
			<div class="graph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 api-subtitle"><span data-open-graph="add_dialog_occupant">Update dialog <code class="light">(push)</code></span></div>
        <div class="col-xs-3 lights" id="add_dialog_occupant"><span class="time"></span></div>
        <div class="graph-wrap" data-module="add_dialog_occupant">
			<div class="graph"></div>
        </div>
    </div>

    <div class="spacer"></div>
	
    <!-- LOCATION -->

    <div class="row" id="location-head">
        <div class="col-xs-12"><h4>Location</h4></div>
    </div>
    <div class="row">
        <div class="col-xs-9 api-subtitle"><span data-open-graph="create_geodata">Create geodata</span></div>
        <div class="col-xs-3 lights" id="create_geodata"><span class="time"></span></div>
        <div class="graph-wrap" data-module="create_geodata">
			<div class="graph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 api-subtitle"><span data-open-graph="create_place">Create place</span></div>
        <div class="col-xs-3 lights" id="create_place"><span class="time"></span></div>
        <div class="graph-wrap" data-module="create_place">
			<div class="graph"></div>
        </div>
    </div>

    <div class="spacer"></div>

    <!-- CONTENT -->

    <div class="row" id="content-head">
        <div class="col-xs-12"><h4>Content</h4></div>
    </div>
    <div class="row">
        <div class="col-xs-9 api-subtitle"><span data-open-graph="create_content">Create content</span></div>
        <div class="col-xs-3 lights" id="create_content"><span class="time"></span></div>
        <div class="graph-wrap" data-module="create_content">
			<div class="graph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 api-subtitle"><span data-open-graph="list_content">List content</span></div>
        <div class="col-xs-3 lights" id="list_content"><span class="time"></span></div>
        <div class="graph-wrap" data-module="list_content">
			<div class="graph"></div>
        </div>
    </div>

    <div class="spacer"></div>

    <!-- CUSTOM OBJECTS -->

    <div class="row" id="objects-head">
        <div class="col-xs-12"><h4>Custom Objects</h4></div>
    </div>
    <div class="row">
        <div class="col-xs-9 api-subtitle"><span data-open-graph="create_data">Create data</span></div>
        <div class="col-xs-3 lights" id="create_data"><span class="time"></span></div>
        <div class="graph-wrap" data-module="create_data">
			<div class="graph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 api-subtitle"><span data-open-graph="update_data">Update data</span></div>
        <div class="col-xs-3 lights" id="update_data"><span class="time"></span></div>
        <div class="graph-wrap" data-module="update_data">
			<div class="graph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 api-subtitle"><span data-open-graph="list_data">List data</span></div>
        <div class="col-xs-3 lights" id="list_data"><span class="time"></span></div>
        <div class="graph-wrap" data-module="list_data">
			<div class="graph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 api-subtitle"><span data-open-graph="delete_data">Delete data</span></div>
        <div class="col-xs-3 lights" id="delete_data"><span class="time"></span></div>
        <div class="graph-wrap" data-module="delete_data">
			<div class="graph"></div>
        </div>
    </div>

    <div class="spacer"></div>
    
    <!-- MESSAGES -->

	<div class="row" id="messages-head">
        <div class="col-xs-12"><h4>Messages</h4></div>
    </div>
    <div class="row">
        <div class="col-xs-9 api-subtitle"><span data-open-graph="create_push">Create subscription</span></div>
        <div class="col-xs-3 lights" id="create_push"><span class="time"></span></div>
        <div class="graph-wrap" data-module="create_push">
			<div class="graph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 api-subtitle"><span data-open-graph="delete_push">Delete subscription</span></div>
        <div class="col-xs-3 lights" id="delete_push"><span class="time"></span></div>
        <div class="graph-wrap" data-module="delete_push">
			<div class="graph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 api-subtitle"><span data-open-graph="receive_push">Receive push notification</span></div>
        <div class="col-xs-3 lights" id="receive_push"><span class="time"></span></div>
        <div class="graph-wrap" data-module="receive_push">
			<div class="graph"></div>
        </div>
    </div>
    <div class="loading">
        <img src='/files/spinner.gif'/>
    </div>
    
    <footer>
	    <span>This data is automatically generated every 10 minutes by uploading data to the Quickblox API and measuring both the latency and whether the request was fulfilled as expected. The full source code is available here.</a>
	</footer>
</div>
</div>

<script src="/files/zepto.js"></script>
<script src="/files/moment.min.js"></script>
<script src="/files/highcharts-nojquery.js"></script>
<script src="/files/pikaday.min.js"></script>
<script src="/files/pull.js"></script>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26728270-1']);
    _gaq.push(['_trackPageview']);
    
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

</body>
</html>